@page
@model Ebury_mass_payments.DetailsModel
@{
}

<table>
    <tr><th>Info message</th><th>Message</th></tr>

    @foreach (var x in Model.messages)
    {
        <tr>
            <td>Message</td>
            <td>@x</td>
        </tr>

    }
</table>
@if (Model.hasErrors) { 
    <a asp-page="/Ebury/Errors" asp-route-id="@Model.mpi_id">View results</a>

}