@page
@model Ebury_mass_payments.Pages.Ebury.IndexModel

<table>
    @foreach (var x in Model.AuthMessages)
    {
        <tr>
            <td>@x</td>
        </tr>

    }
    @foreach (var x in Model.messages)
    {
        <tr>
            <td>@x</td>
        </tr>

    }


</table>
<br/>

<a asp-page="/Ebury/Details" asp-route-id="@Model.mpi_id">View results</a>