@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Create <a asp-page="/Ebury/Index" asp-route-id="jasper.csv">new mass payment ID with jasper.csv</a>.</p>
    <p>Create <a asp-page="/Ebury/Index" asp-route-id="ukpayment.csv">new mass payment ID with ukpayment.csv</a>.</p>
    <p>Create <a asp-page="/Ebury/Index" asp-route-id="jasper2.csv">new mass payment ID with jasper2.csv</a>.</p>

    <p>View mass payment ID <a asp-page="/Ebury/Details" asp-route-id="ef8595d0-cc66-495b-8a88-d04e1ac6f7af">Ebury Payment</a>.</p>
</div>

